/* Global styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: #181f3b;
    color: #f3eae8;
    margin-left: 1%;
}

/* Navigation styles */
.topnav {
    position: sticky;
    top: 0;
    left: 0;
    margin-top: 1%;
    overflow: hidden;
    background-color: #181f3b;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f3eae8;
    color: #181f3b;
    font-weight: bold;
}

.topnav a.active {
    background-color: #f3eae8;
    color: #181f3b;
    font-weight: bold;
}

.image-logo {
    position: absolute;
    top: 3%;
    left: 30%;
    width: 120px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
}

/* Dashboard content*/

.content {
    text-align: center;
    margin: 5% 5% 0 0;
}
.content h1 {
    color: #e39215;
    font-size: 55px;
}
.content p {
    font-size: 25px;
}


/* Login container */
.login-container {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 2.5%;
    align-items: center;
}

.login-container p {
    color: #a391fa;
    font-weight: bold;
    font-size: 18px;
    margin-right: 25px;
}

.login-container a {
    padding: 15px;
}

/* Sign-up link */
.sign-up {
    margin-top: 15px;
    text-align: center;
    margin-right: 50px;
}

.sign-up a {
    color: white;
}

/* Form input styles */
.input-form {
    margin-top: 3%;
}

.input-form .form-group {
    text-align: center;
    margin-right: 50px;
    margin-top: 2%;
}

.input-form .form-group .form-control {
    text-align: center;
    color: #f3eae8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    width: 30%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: large;
}

.input-form .submit-form {
    color: #f3eae8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(60, 179, 113, 0.35);
    padding: 15px;
    width: 300px;
    font-size: large;
    border: 1px solid #f3eae8;
    border-radius: 5px;
}

/* Error messages */
.error {
    text-align: center;
    margin-right: 50px;
    margin-top: 25px;
    color: #fd1749;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/* Page-specific styles */

/* Admin page */
.admin-container {
    margin: 100px 50px;
}

#reset-database {
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Home page */
.home-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.column-1 {
    width: 22%;
    padding: 10px;
    margin: 0 auto;
}

.column-2 {
    width: 65%;
    padding: 10px;
}

.column-1 h2 {
    color: #e39215;
    font-size: 34px;
    font-family: Andale Mono, monospace;
    margin-bottom: 25%;
}

.column-2 h2 {
    color: #e39215;
    font-size: 34px;
    font-family: Andale Mono, monospace;
}

.column-post {
    text-align: center;
}

.column-post h3 {
    text-align: start;
    color: #c191bc;
}

.h2-posts {
    text-align: center;
}

.comments-ul {
    border-left: 2px solid white;
    padding: 10px 100px;
}

.comments-ul .add-comment-form {
    border-bottom: thick double #c08121;
    height: 200px;
}

.create-post-title {
    width: 100%;
    line-height: 20px;
    padding: 15px 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 21px;
}

.create-post-submit {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    float: right;
}

.create-post-comment,
.text-comments {
    width: 100%;
    height: 100px;
    line-height: 20px;
    padding: 15px;
    background-color: transparent;
    color: white;
    font-size: 18px;
}

.title-comments {
    font-size: 24px;
    color: #c89a55;
    border: 1px solid white;
}

.post-comments {
    color: #eaeff4;
    white-space: pre-line;
    margin-left: 20px;
    padding: 15px 30px 27px 30px;
    font-size: 18px;
    border-bottom: 1px solid #eaeff4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    letter-spacing: 1.3px;
    line-height: 25px;
}

.submit-comments {
    position: relative;
    bottom: -3px;
    float: right;
    padding: 8px 15px;
    color: black;
    background-color: rgb(127, 200, 116);
}

.name-user-post {
    position: relative;
    float: left;
    bottom: 11px;
    padding: 13px 20px;
}

.name-date-text {
    color: #08c1ff;
    letter-spacing: 1.7px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-content {
    background-color: #a391fa;
}

.commented-post {
    border-top: 2px solid #156a95;
    margin: 8% auto 2%;
    padding: 5px 15px;
}

.commented-post-user {
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    color: #2098c0;
    letter-spacing: 1.2px;
}

.commented-post-comment {
    color: white;
}

.commented-post-date {
    float: right;
    color: #ff78a8;
}

.delete-button {
    position: relative;
    top: 0;
    float: right;
    background-color: #9a0800;
    color: white;
    border: 1px solid white;
    padding: 8px 27px;
    cursor: pointer;
}