/* Global styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: #181f3b;
    color: #f3eae8;
}

/* Navigation styles */
.topnav {
    position: sticky;
    top: 0;
    left: 0;
    margin: 1% 0 0 1%;
    overflow: hidden;
    background-color: #181f3b;
    z-index: 1;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 10px;
}

.topnav a:hover {
    background-color: #dfdfdf;
    color: #181f3b;
    font-weight: bold;
}

.topnav a.active {
    background-color: #dfdfdf;
    color: #181f3b;
    font-weight: bold;
}

.profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-picture a {
    display: block;
    width: 100%; 
    height: 100%;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

/* Login container */
.title-auth {
    text-align: center;
    color: #e39215;
}

.login-container {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 2.5%;
    align-items: center;
}

.login-container a {
    display: block;
    text-decoration: none;
    color: #a391fa;
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    padding: 15px;
}

.login-container a:hover {
    color: #888;
    background-color: transparent;
}

/* Sign-up link */
.sign-up {
    margin-top: 15px;
    text-align: center;
}

.sign-up a {
    text-decoration: none;
    color: #d0ceff;
}

/* Form input styles */
.input-form {
    margin-top: 3%;
}

.input-form .form-group {
    text-align: center;
    margin-top: 2%;
}

.input-form .form-group .form-control {
    text-align: center;
    color: #f3eae8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    width: 30%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: large;
}

.input-form .submit-form {
    color: #f3eae8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(60, 379, 113, 0.35);
    padding: 15px;
    width: 300px;
    font-size: large;
    border: 1px solid #f3eae8;
    border-radius: 5px;
}

.submit-form {
    cursor: pointer;
}

/* Error messages */
.error {
    text-align: center;
    margin-right: 50px;
    margin-top: 25px;
    color: #fd1749;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

/* Page-specific styles */



/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        margin-left: 0; /* Remove the left margin to utilize the entire screen width */
    }

    .topnav {
        padding: 10px 0; /* Add padding to navigation links for touch-friendly design */
    }

    .column-1, .column-2 {
        width: 100%; /* Make both columns take up the full width of the screen */
        padding: 10px; /* Add padding to columns */
    }

    .column-post {
        width: 100%; /* Make the create post form take up the full width */
    }

    .comments-ul {
        padding: 10px; /* Add padding to the recent posts list */
    }

    .create-post-title, .create-post-comment, .text-comments {
        width: 100%; /* Make the input fields take up the full width */
    }

    .create-post-submit, .submit-comments {
        width: auto; /* Allow the submit buttons to adjust their width */
        display: block;
        margin: 10px auto; /* Center the submit buttons */
    }

    .commented-post {
        margin: 20px auto; /* Adjust margin for comments */
    }
}