{% extends 'base.html' %}

{% block title %}
    Messages
{% endblock %}

{% block content%}
<h1 class="about-header-one">Messages</h1>
<div class="messages-container">
    <section class="messages-section">
        <div class="messages-content">
            {% for message in messages %}
            <ul class="messages-ul">
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Message from &nbsp;&nbsp; <span class="messages-sender">{{ message.sender_username.title() }}</span></p>
                <li>&nbsp;&nbsp;"{{ message.message_text }}"</li><br><br>
                <li class="message-li-time">{{ message.timestamp.strftime('%d %B %Y,  %I:%M %p') }}</li>
            </ul>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}