{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content%}


<div class="update-profile-columns">
    <!-- Left Column - Update Profile Form -->
    <div class="update-profile-column">
        <h1 class="update-profile-header">Update Profile</h1>
        <div class="update-profile-container">
            <form method="POST" action="/update_profile" enctype="multipart/form-data" class="update-profile-form">
                <label for="username">Username:</label>
                <input class="update-profile-input" type="text" id="username" name="username"><br>

                <label for="first_name">First Name:</label>
                <input class="update-profile-input" type="text" id="first_name" name="first_name"><br>

                <label for="last_name">Last Name:</label>
                <input class="update-profile-input" type="text" id="last_name" name="last_name"><br>

                <label for="address">Address:</label>
                <input class="update-profile-input" type="text" id="address" name="address"><br>

                <label for="phone_number">Phone Number:</label>
                <input class="update-profile-input" type="tel" id="phone_number" name="phone_number"><br>

                <label for="email">Email:</label>
                <input class="update-profile-input" type="email" id="email" name="email"><br>

                <label for="profile_pic">Profile Picture:</label>
                <input class="update-profile-input" type="file" id="profile_pic" name="profile_pic"><br>

                <input class="update-profile-submit" type="submit" value="Update Profile">
            </form>
        </div>
    </div>
    <div class="update-profile-column">
        <h2 class="update-profile-header">Your Information</h2>
        <div class="update-profile-container">
            <p><strong>Username:&nbsp;&nbsp;&nbsp;</strong> {{ user.username.title() }}</p>
            <p><strong>First Name:&nbsp;&nbsp;&nbsp;</strong>{% if user.first_name %} {{ user.first_name.title() }} {% else %} None {% endif %}</p>
            <p><strong>Last Name:&nbsp;&nbsp;&nbsp;</strong>{% if user.last_name %} {{ user.last_name.title() }} {% else %} None {% endif %}</p>
            <p><strong>Address:&nbsp;&nbsp;&nbsp;</strong>{% if user.address %} {{ user.address.title() }} {% else %} None {% endif %}</p>
            <p><strong>Phone number:&nbsp;&nbsp;&nbsp;</strong> {{ user.phone_number }}</p>
            <p><strong>Email:&nbsp;&nbsp;&nbsp;</strong> {{ user.email }}</p>
            <div style="display: flex; align-items: center;">
                <p><strong>Profile Pic:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
                <div class="profile-picture">
                    {% if user.image_ref %}
                    <img src="{{ url_for('static', filename='uploads/' + user.image_ref) }}" alt="Post Image" class="profile-image">
                    {% else %}
                    None
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}